[Desktop Entry]
Name=Simple Chat Client
Version=1.8.1
Exec=/usr/local/bin/scc
Comment=Simple Chat Client
Icon=/usr/local/share/scc/scc.png
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Qt;InstantMessaging;Network; 
